.documento_venta{
	position: absolute;
	z-index: 2000;
	
	//width: px;
	margin-top: 50px;
	margin-left: 0px;
    font-size: 5em;
     
}
.logotipo{
	background-color: green;
	width: 600px;
	border-radius: 5px;
	text-align: left;
    border-top: 0px;
    border-left: 5px;
    float: left;
}
.log{
	margin-bottom: 0px;
}
.descrResult{
	width: 450px;
}
.cuadroNume{
	border-right: 5px;
	background-color: red;
	width: 200px;
	border-radius: 5px;
	text-align: center;
    display: inline-block;
}

.fac{
	margin-bottom: 0px;
	margin-top: 0px;
}
.firma{
	background-color: red;
	width: 400px;
	float: left;
	margin-top: 40px;
	text-align: center;
}
.result{
	background-color: blue;
	width: 400px;
	display: inline-block;
}
.tbre{
	width: 200px;
	margin-left: 220px;
}

.tbcontent{
	margin-top: 20px;
	background-color: yellow;
	width: 800px;
}
.headfac{
	background-color: violet;
	width: 800px;
	 
}

.mensaje{
	position: absolute;
	z-index: 2000;
	background: red;
	color: red;
opacity: 0.5;
}
#printx { 
	visibility:visible; 
  	 display: block !important; 
}
.noPrintx{
	visibility:hidden; 
    display: none !important; 
}
.main-footer{
	visibility:hidden; 
    display: none !important; 
}

.sidebar{
	visibility: hidden;
	overflow: hidden !important;
    display: none !important; 
    background-color: red;
}
